{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="card col-6">
        <div class="card-body">
            <h5 class="card-title">Registrar</h5>
            <form method="post" id="registrationForm">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Nome de Usuário</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Confirme a Senha</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/autenticacao/login/'">Voltar ao Login</button>
            </form>
        </div>

        {% if error_message %}
            <div class="alert alert-danger mt-4" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
    </div>
{% endblock %}
