{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-6">
    <div class="card col-lg-6 col-md-12 col-sm-12 mt-3">
        <h3 class="card-header {% if chamado.prioridade == 'alta' %}bg-danger text-white{% elif chamado.prioridade == 'media' %}bg-warning{% else %}bg-success{% endif %}">{{ chamado.titulo }}</h3>
        <div class="card-body">
            <p class="card-text">{% if chamado.descricao %}{{ chamado.descricao }}{% endif %}</p>
            <p class="card-text"><small class="text-muted">Setor: {{ chamado.setor }}</small></p>
            <p class="card-text"><small class="text-muted">Prioridade: {{ chamado.get_prioridade_display }}</small></p>
            <p class="card-text"><small class="text-muted">Criado em: {{ chamado.data_criacao }}</small></p>
            <p class="card-text"><small class="text-muted">Status: {{ chamado.get_status_display }}</small></p>
            <p class="card-text"><small class="text-muted">Criado por: {{ chamado.usuario.username }}</small></p>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary mt-1" onclick="window.location.href='/atendentes/chamados/{{ chamado.id }}/editar/'">Editar</button>
            <button class="btn btn-danger mt-1" onclick="window.location.href='/atendentes/chamados/{{ chamado.id }}/deletar/'">Deletar</button>
            <button class="btn btn-secondary mt-1" style="margin-right: 20px" onclick="window.location.href='/atendentes/chamados/'">Voltar</button>
    </div>
</div>
{% endblock %}