{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-1">
    <h3 class="h3 col-6 text-center">Cadastro de Chamado</h3>
</div>

{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}

<div class="row justify-content-center mt-3">
    <div class="card col-6">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="setor" class="form-label">Setor</label>
                    <select class="form-select" id="setor" name="setor" required>
                        <option disabled selected value>Selecione um setor</option>
                        <option value="financeiro">Financeiro</option>
                        <option value="tecnico">Técnico</option>
                        <option value="atendimento">Atendimento</option>
                        <option value="rh">Recursos Humanos</option>
                        <option value="marketing">Marketing</option>
                        <option value="TI">TI</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="prioridade" class="form-label">Prioridade</label>
                    <select class="form-select" id="prioridade" name="prioridade" required>
                        <option disabled selected value>Selecione uma prioridade</option>
                        <option value="baixa">Baixa</option>
                        <option value="media">Média</option>
                        <option value="alta">Alta</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/atendentes/chamados/'">Cancelar</button>
            </form>
        </div>
    </div>
{% endblock %}
